spring:
  application:
    name: payment-hub-core

  datasource:
    # Ajustado conforme o banco 'appdb' do seu docker-compose
    url: jdbc:mysql://localhost:3306/appdb?createDatabaseIfNotExist=true&serverTimezone=America/Sao_Paulo
    username: app
    password: app
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true